@import "src/global";

.landing {
    &__section {
        &-about {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 64px 64px 50px 64px;

            &-title {
                margin-bottom: 12px;
            }

            &-text {
                max-width: 720px;
            }

            &-image {
                margin-left: 118px;
            }
        }

        &-features {
            padding: 64px 32px;

            &-slide {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-icon {
                    margin-right: 168px;
                }

                &-data {
                    text-align: start;

                    &-title {
                        @extend .font-section-title;
                    }

                    &-paragraph {
                        padding: 0;
                        margin: 32px 0;

                        @extend .font-section-paragraph;
                    }

                    &-column {
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: center;
                        width: 282px;

                        &-initial {
                            margin-right: 64px;
                        }

                        &s {
                            display: flex;
                            justify-content: space-between;
                            align-items: start;
                        }
                    }
                }
            }
        }

        &-streaming {
            padding: 32px 64px;

            &-banner {
                padding: 24px 64px;
                background-color: $color-accent;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}
