<div class="landing">
    <amphora-header [model]="headerModel"></amphora-header>
    <amphora-section [model]="aboutSectionModel">
        <div class="landing__section-about">about</div>
    </amphora-section>
    <amphora-section [model]="featuresSectionModel">
        <div class="landing__section-about">features</div>
    </amphora-section>
    <amphora-section [model]="streamingSectionModel">
        <div class="landing__section-about">streaming</div>
    </amphora-section>
    <amphora-footer></amphora-footer>
</div>
