<ion-content class="landing">
    <amphora-page>
        <amphora-section [model]="aboutSectionModel">
            <div class="landing__section-about">
                <div class="landing__section-about-text">
                    <h1 class="font-section-title landing__section-about-title">Greetings and welcome to <br/> am<span class="font-logo-span">pho</span>ra!</h1>
                    <p class="font-section-paragraph">
                        <strong>Am<span class="font-logo-span">pho</span>ra</strong> introduces a new generation of podcast hosting services to the world of web applications.
                        This application is definitely going to be your new best friend that will accompany you on your podcast-creating journey all the way.
                        <strong>Am<span class="font-logo-span">pho</span>ra</strong> offers a great and simple user interface, with intuitively organized data. There is no
                        need for extra configurations of directories or any alternative structures for managing your shows. Our philosophy is that you should put most of your effort
                        Into creative work and not mundane management!
                        <br/><br/>
                        No more lengthy loading times and constant page reloads! This application's approach to data display and management ensures the most responsive and productive experience possible.
                        <strong>Am<span class="font-logo-span">pho</span>ra</strong> provides a wide range of diverse features without unreasonable pricing plans or restrictions of any kind. This hosting service
                        features streaming integrations with many popular streaming services, so you can reach your audience no matter what their listening service of choice is. So what are you waiting for? Navigate to
                        authorization and begin creating amazing content! <br/><br/>
                        Stay creative and good luck!
                    </p>
                </div>
                <div class="landing__section-about-image">
                    <amphora-icon [model]="discussionImgModel"></amphora-icon>
                </div>
            </div>
        </amphora-section>
        <amphora-section [model]="featuresSectionModel">
            <div class="landing__section-features">
                <amphora-slider [model]="featuresSliderModel">
                    <ion-slide>
                        <div class="landing__section-features-slide">
                            <div class="landing__section-features-slide-icon">
                                <amphora-icon [model]="sliderIconModels[0]"></amphora-icon>
                            </div>
                            <div class="landing__section-features-slide-data">
                                <h1 class="landing__section-features-slide-data-title">Simple and intuitive data <br/> management</h1>
                                <div class="landing__section-features-slide-data-columns">
                                    <div class="landing__section-features-slide-data-column landing__section-features-slide-data-column-initial">
                                        <p class="landing__section-features-slide-data-paragraph">
                                            If you are tired of your data being stored like the horrors inside the Pandora's box, then this application is a great choice for you!
                                        </p>
                                        <p class="landing__section-features-slide-data-paragraph">
                                            Each episode can be additionally filtered by adding it to a series inside your show. This feature ensures you can manage your content even if your podcast's topic is very broad and complex!
                                        </p>
                                    </div>
                                    <div class="landing__section-features-slide-data-column">
                                        <p class="landing__section-features-slide-data-paragraph">
                                            Your content is automatically stored and sorted in an innovative way. Each podcast represents a show and stores your episodes and media.
                                        </p>
                                        <p class="landing__section-features-slide-data-paragraph">
                                            All data is easily accessibly through the search feature and additional filters, such as series tags. No matter the amount of content, this service will handle it flawlessly.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="landing__section-features-slide">
                            <div class="landing__section-features-slide-icon">
                                <amphora-icon [model]="sliderIconModels[1]"></amphora-icon>
                            </div>
                            <div class="landing__section-features-slide-data">
                                <h1 class="landing__section-features-slide-data-title">Security and accessibility</h1>
                                <div class="landing__section-features-slide-data-columns">
                                    <div class="landing__section-features-slide-data-column landing__section-features-slide-data-column-initial">
                                        <p class="landing__section-features-slide-data-paragraph">
                                            Protection of our users' data is one of our top priorities. All of your data remains private and is stored securely using the newest technologies.
                                        </p>
                                        <p class="landing__section-features-slide-data-paragraph">
                                            The application features a reliable authrization process with additional verification to make sure only real and valid credentials can be entered.
                                        </p>
                                    </div>
                                    <div class="landing__section-features-slide-data-column">
                                        <p class="landing__section-features-slide-data-paragraph">
                                            All the safety precautions will not complicate your access to the application, your credentials can always be altered in a safe and reliable way.
                                        </p>
                                        <p class="landing__section-features-slide-data-paragraph">
                                            The application follows newest web safety protocols and uses complex encryption to further protect all user data while also providing great performance.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="landing__section-features-slide">
                            <div class="landing__section-features-slide-icon">
                                <amphora-icon [model]="sliderIconModels[2]"></amphora-icon>
                            </div>
                            <div class="landing__section-features-slide-data">
                                <h1 class="landing__section-features-slide-data-title">Performance speed and<br/>productivity</h1>
                                <div class="landing__section-features-slide-data-columns">
                                    <div class="landing__section-features-slide-data-column landing__section-features-slide-data-column-initial">
                                        <p class="landing__section-features-slide-data-paragraph">
                                            Our team strives to provide the best possible user experience without performance issues that can disrupt your flow inside the application.
                                        </p>
                                        <p class="landing__section-features-slide-data-paragraph">
                                            When Hermes the messenger god himself witnessed the speed at which Amphora delivers data, he decided to join our cause and notify you of important events via email!
                                        </p>
                                    </div>
                                    <div class="landing__section-features-slide-data-column">
                                        <p class="landing__section-features-slide-data-paragraph">
                                            Careful choice of technologies and architectural approaches ensures the most effective and responsive user experience inside the application.
                                        </p>
                                        <p class="landing__section-features-slide-data-paragraph">
                                            No more page reloads, no more lengthy navigation! All data is delivered as soon as the change is made in minimal time!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </amphora-slider>
            </div>
        </amphora-section>
        <amphora-section [model]="streamingSectionModel">
            <div class="landing__section-streaming">
                <h1 class="font-section-title">Featured shows and streaming integrations</h1>
            </div>
                <div class="landing__section-streaming-banner">
                    <amphora-icon *ngFor="let model of streamingBannerIconModels" [model]="model"></amphora-icon>
                </div>

            <div class="landing__section-streaming">
                <div class="spacer-ver-32px"></div>
                <amphora-slider [model]="podcastsSliderModel">
                    <ion-slide *ngFor="let showCardModel of (showCardModels$ | async)">
                        <amphora-show-card [model]="showCardModel"></amphora-show-card>
                    </ion-slide>
                </amphora-slider>
            </div>
            <div class="spacer-ver-128px"></div>
        </amphora-section>
    </amphora-page>
</ion-content>
