<div class="header">
    <div class="header__content">

        <amphora-icon class="header__logo" routerLink="/landing" [model]="logoModel"></amphora-icon>

        <div class="header__buttons-container">
            <amphora-button [model]="signInBtnModel" *ngIf="headerType === HeaderTypesEnum.AUTH || headerType === HeaderTypesEnum.SIGN_IN"></amphora-button>
            <div class="spacer-hor-32px" *ngIf="headerType === HeaderTypesEnum.AUTH"></div>
            <amphora-button [model]="signUpBtnModel" *ngIf="headerType === HeaderTypesEnum.AUTH || headerType === HeaderTypesEnum.SIGN_UP"></amphora-button>


            <amphora-button [model]="dashboardBtnModel" *ngIf="headerType === HeaderTypesEnum.AUTHORIZED"></amphora-button>
            <div class="spacer-hor-32px" *ngIf="headerType === HeaderTypesEnum.AUTHORIZED"></div>
            <amphora-button [model]="logOutBtnModel" *ngIf="headerType === HeaderTypesEnum.AUTHORIZED || headerType === HeaderTypesEnum.AUTHORIZED_DASHBOARD"></amphora-button>
        </div>
    </div>

    <amphora-header-ornament></amphora-header-ornament>
</div>
