<div class="input__border">
    <input #input
           [type]="(visibility$ | async).fieldType"
           [class]="['input', 'input__' + model.optional.inputType]"
           [placeholder]="model.optional.placeholder" (input)="onInput($event)" />
    <div class="input__icon" *ngIf="model.optional.inputType === InputFieldTypesEnum.PASSWORD">
        <button (click)="toggleVisibility()" class="input__icon-button" mat-icon-button>
            <amphora-icon [model]="(visibility$ | async).icon"></amphora-icon>
        </button>
    </div>
</div>
