<div class="footer">
    <div class="footer__section">
        <h1 class="footer__section-title">Lorem Ipsum</h1>
        <div class="footer__section-columns-container">
            <div class="footer__section-column">
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
            </div>
            <div class="footer__section-column">
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
            </div>
        </div>
    </div>

    <div class="footer__section">
        <h1 class="footer__section-title">Lorem Ipsum</h1>
        <div class="footer__section-columns-container">
            <div class="footer__section-column">
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
            </div>
            <div class="footer__section-column">
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
            </div>
        </div>
    </div>

    <div class="footer__section">
        <h1 class="footer__section-title">Lorem Ipsum</h1>
        <div class="footer__section-columns-container">
            <div class="footer__section-column">
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
            </div>
            <div class="footer__section-column">
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
            </div>
        </div>
    </div>

    <div class="footer__section">
        <h1 class="footer__section-title">Lorem Ipsum</h1>
        <div class="footer__section-columns-container">
            <div class="footer__section-column">
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
            </div>
            <div class="footer__section-column">
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
            </div>
        </div>
    </div>

    <div class="footer__section">
        <h1 class="footer__section-title">Lorem Ipsum</h1>
        <div class="footer__section-columns-container">
            <div class="footer__section-column">
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
            </div>
            <div class="footer__section-column">
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
                <p class="footer__section-column-item">Lorem Ipsum</p>
            </div>
        </div>
    </div>
</div>
