@import "src/global";

.footer {
    background-color: $color-black;
    padding: 24px;
    color: $color-white;
    display: flex;
    justify-content: space-around;
    align-items: start;

    &__section {
        &-title {
            @extend .font-footer-title;
            margin-bottom: 8px;
        }

        &-column {
            margin-right: 16px;
            &-item {
                @extend .font-footer-text;
                margin-bottom: 4px;
                text-decoration: none;
                display: block;

                &-nav {
                    cursor: pointer;

                    &:hover {
                        color: $color-primary-dark;
                    }
                }
            }
            &s-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
