<div class="footer">
    <div class="footer__section">
        <h1 class="footer__section-title">Navigation</h1>
        <div class="footer__section-columns-container">
            <div class="footer__section-column">
                <p class="footer__section-column-item footer__section-column-item-nav" [routerLink]="['/' + RoutesEnum.LANDING]">Landing</p>
                <p class="footer__section-column-item footer__section-column-item-nav" [routerLink]="['/' + RoutesEnum.DASHBOARD]">Dashboard</p>
            </div>
            <div class="footer__section-column">
                <p class="footer__section-column-item footer__section-column-item-nav" [routerLink]="['/' + RoutesEnum.SHOW_CREATE]">Create Show</p>
                <p class="footer__section-column-item footer__section-column-item-nav" [routerLink]="['/' + RoutesEnum.FORGOT_PASSWORD]">Forgot Password?</p>
            </div>
        </div>
    </div>

    <div class="footer__section">
        <h1 class="footer__section-title">Contact Info</h1>
        <div class="footer__section-columns-container">
            <div class="footer__section-column">
                <p class="footer__section-column-item">hermes@amphora.digital</p>
            </div>
        </div>
    </div>

    <div class="footer__section">
        <h1 class="footer__section-title">Acknowledgements</h1>
        <div class="footer__section-columns-container">
            <div class="footer__section-column">
                <a href="https://www.flaticon.com/" target="_blank" class="footer__section-column-item footer__section-column-item-nav">Flaticon (For providing free high-quality assets)</a>
                <a href="https://ucu.edu.ua/en/" target="_blank" class="footer__section-column-item footer__section-column-item-nav">Ukrainian Catholic University (for motivating the birth of this project)</a>
            </div>
        </div>
    </div>
</div>
