$color-white: #ffffff;
$color-black: #040707;
$color-drop-shadow: rgba(4, 7, 7, 0.25);
$color-upload-overlay: rgba(4, 7, 7, 0.7);
$color-primary: #CE7829;
$color-primary-dark: #B26824;
$color-accent: #501919;
