.font-button-label {
    // font: normal normal bold 16px/24px Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.font-section-title {
    // font: normal normal bold 48px/64px Roboto;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}

.font-section-paragraph {
    // font: normal normal normal 16px/24px Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
