@import "colors";

.font-button-label {
    // font: normal normal bold 16px/24px Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.font-section-title {
    // font: normal normal bold 48px/64px Roboto;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}

.font-section-paragraph {
    // font: normal normal normal 16px/24px Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.font-footer-text {
    // font: normal normal normal 12px/18px Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.font-footer-title {
    // font: normal normal bold 12px/18px Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.font-card-title {
    // font: normal normal bold 24px/36px Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.font-input-error {
    // font: normal normal normal 16px/24px Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $color-accent;
}

.font-logo-span {
    color: $color-primary;
}

.font-link {
    color: $color-primary;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }

    &:active {
        color: $color-accent;
    }
}

