.spacer-hor-16px {
    display: inline-block;
    width: 16px;
}

.spacer-hor-32px {
    display: inline-block;
    width: 32px;
}

.spacer-ver-32px {
    height: 32px;
 }

.spacer-ver-36px {
    height: 36px;
}

.spacer-ver-64px {
    height: 64px;
}

.spacer-ver-128px {
    height: 128px;
}

.spacer-ver-212px {
    height: 212px;
}
