<div class="pop-up__overlay" *ngIf="model.optional.popUpType === (currentPopUp$ | async)" [@fadeInOutAnimation]>
    <div class="pop-up">
        <h1 class="font-section-title">{{ model.title }}</h1>
        <div class="pop-up__divider"></div>
        <ng-content></ng-content>
        <div class="pop-up__buttons">
            <div class="pop-up__buttons-wrapper" *ngFor="let buttonModel of model.optional.buttons" >
                <amphora-button [model]="buttonModel"></amphora-button>
            </div>
        </div>
    </div>
</div>
