<ion-content class="reset-password">
    <amphora-page>
        <amphora-section [model]="titleSectionModel">
            <div class="reset-password__section reset-password__section-title">
                <h1 class="font-section-title reset-password__section-title-heading">Reset Password</h1>
                <h2 class="font-section-paragraph">Reset your password with ease <br/>
                    to continue your podcast journey with <strong>am<span class="font-logo-span">pho</span>ra</strong>!</h2>
            </div>
        </amphora-section>
        <amphora-section [model]="formSectionModel">
            <div class="reset-password__section">
                <div class="reset-password__section-form">
                    <amphora-input-field [model]="codeInputModel"></amphora-input-field>
                    <p class="reset-password__section-form-error font-input-error" *ngIf="!codeInputModel.valid">
                        Please enter a verification code
                    </p>
                    <div class="spacer-ver-32px"></div>
                    <amphora-input-field [model]="passwordInputModel"></amphora-input-field>
                    <p class="reset-password__section-form-error font-input-error" *ngIf="!passwordInputModel.valid">
                        Please enter a valid password
                    </p>
                </div>
            </div>
        </amphora-section>
        <amphora-section [model]="submitSectionModel">
            <div class="reset-password__section reset-password__section-submit">
                <amphora-button [model]="submitButtonModel"></amphora-button>
            </div>
        </amphora-section>
    </amphora-page>

    <amphora-common-pop-up [model]="successPopUpModel">
        <p class="font-section-paragraph">
            You have successfully reset your password!<br/>
            All you have to do now is Sign In and continue your podcast journey with <br/>
            <strong>am<span class="font-logo-span">pho</span>ra</strong>!
        </p>
    </amphora-common-pop-up>
</ion-content>
