<ion-content class="reset-password">
    <amphora-page [headerModel]="headerModel">
        <amphora-section [model]="titleSectionModel">
            <div class="reset-password__section reset-password__section-title">
                <h1 class="font-section-title reset-password__section-title-heading">Reset Password</h1>
                <h2 class="font-section-paragraph">Reset your password with ease <br/>
                    continue your podcast journey with <strong>am<span class="font-logo-span">pho</span>ra</strong>!</h2>
            </div>
        </amphora-section>
        <amphora-section [model]="formSectionModel">
            <div class="reset-password__section">
                <div class="reset-password__section-form">
                    <amphora-input-field [model]="emailInputModel"></amphora-input-field>
                    <p class="reset-password__section-form-error font-input-error" *ngIf="!emailInputModel.valid">
                        Please enter a valid email
                    </p>
                    <div class="spacer-ver-32px"></div>
                    <amphora-input-field [model]="passwordInputModel"></amphora-input-field>
                    <p class="reset-password__section-form-error font-input-error" *ngIf="!passwordInputModel.valid">
                        Password is too short
                    </p>
                </div>
            </div>
        </amphora-section>
        <amphora-section [model]="submitSectionModel">
            <div class="reset-password__section reset-password__section-submit">
                <amphora-button [model]="submitButtonModel"></amphora-button>
            </div>
        </amphora-section>
    </amphora-page>

    <amphora-common-pop-up [model]="checkYourEmailPopUpModel">
        <p class="font-section-paragraph">
            You should receive a letter with details about the password change verification. Follow the
            instructions we sent you and your <strong>am<span class="font-logo-span">pho</span>ra</strong>
            account will be accessible again in no time!
            <br/><br/>
            If you did not receive a letter from us for some reason, press one of the buttons below and we
            will send it to you again.
        </p>
    </amphora-common-pop-up>
</ion-content>
