@import "../../../../global";

.button {
    border-radius: 8px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &__circle {
        border-radius: 100px !important;
        border-width: 4px !important;
    }

    &__white {
        &-outlined {
            background-color: transparent;
            border: solid 3px $color-white;
            border-radius: 8px;

            &-label {
                color: $color-white;
            }
        }

        &-filled {
            box-shadow: 0 2px 4px 1px $color-drop-shadow;
            background-color: $color-white;

            &-label {
                color: $color-black;
            }
        }
    }

    &__primary {
        &-outlined {
            background-color: transparent;
            border: solid 3px $color-primary;
            border-radius: 8px;

            &-label {
                color: $color-primary;
            }
        }

        &-filled {
            box-shadow: 0 2px 4px 1px $color-drop-shadow;
            background-color: $color-primary;

            &-label {
                color: $color-white;
            }
        }
    }

    &__dark {
        &-outlined {
            background-color: transparent;
            border: solid 3px $color-black;
            border-radius: 8px;

            &-label {
                color: $color-black;
            }
        }

        &-filled {
            box-shadow: 0 2px 4px 1px $color-drop-shadow;
            background-color: $color-black;

            &-label {
                color: $color-white;
            }
        }
    }
}

button:disabled {
    opacity: 0.25;
}
