<button
    matRipple
    [matRippleColor]="(model.optional.buttonColor === ButtonColorsEnum.PRIMARY) ?
        ColorsTransparentEnum.WHITE_50 : ColorsTransparentEnum.PRIMARY_50"
    [class]="['button', model.optional.buttonColor + model.optional.buttonType, (model.optional.circle) ? 'button__circle' : 'button']"
    (click)="onClick()"
    [disabled]="(model.optional.disabled$ | async) || false"
    [ngStyle]="{
        minWidth: model.optional.size ? (model.optional.size.width + model.optional.size.widthUnit) : '',
        height: model.optional.size ? (model.optional.size.height + model.optional.size.heightUnit) : ''
    }">
    <span *ngIf="model.label.length > 0" [class]="['button__label', model.optional.buttonColor + model.optional.buttonType + '-label', 'font-button-label']">{{ model.label }}</span>
    <amphora-icon *ngIf="model.optional.iconModel" [model]="model.optional.iconModel"></amphora-icon>
</button>
