<div class="episode-card" (mouseenter)="changeShowOverlay(true)" (mouseleave)="changeShowOverlay(false)">
    <div class="episode-card__img-container">
        <img [src]="model.optional.img" alt="Could not load image" class="episode-card__img">
        <div class="episode-card__img-overlay" *ngIf="showOverlay" [@fadeInOutAnimation]>
            <div class="episode-card__img-overlay-btn" *ngFor="let btnModel of overlayButtonModels">
                <amphora-button [model]="btnModel"></amphora-button>
            </div>
        </div>
    </div>
    <div class="episode-card__data">
        <div class="episode-card__data-heading">
            <amphora-series-tag [model]="seriesModel"></amphora-series-tag>
            <div class="spacer-hor-16px" *ngIf="seriesModel.label"></div>
            <h1 class="episode-card__data-title">{{ model.title }}</h1>
        </div>

        <p class="episode-card__data-description font-section-paragraph">{{ model.optional.description }}</p>

        <p class="episode-card__data-props">
            <strong>Season</strong>: {{ model.optional.season }}<br/>
            <strong>Episode</strong>: {{ model.optional.episode }}<br/>
            <strong>Watch Time</strong>: {{ model.optional.watchTime }}<br/>
        </p>

        <div class="episode-card__data-audio">
            <amphora-audio-player [model]="audioPlayerModel"></amphora-audio-player>
        </div>
    </div>
</div>
