@import "src/global";

.header-ornament-container {
    overflow: hidden;
    background-color: $color-black;
    width: 100% !important;
    height: 25px;
    --svg: url("../../../../assets/icon/header-ornament.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}
