.header-ornament-container {
    white-space: nowrap;
    overflow-y: hidden;
    background-color: black;
    height: 25px;
    --svg: url("../../../../assets/icon/header-ornament.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}
