<ion-content class="episode-create-edit">
    <amphora-page>
        <div class="episode-create-edit__content">
            <h1 class="font-section-title">{{ pageMode }} Episode</h1>
            <div class="spacer-ver-32px"></div>
            <div class="episode-create-edit__content-episode">
                <div class="episode-create-edit__content-episode-data">
                    <amphora-input-field [model]="titleInputModel"></amphora-input-field>
                    <div class="episode-create-edit__content-episode-data-numbers">
                        <amphora-input-field [model]="seasonInputFieldModel"></amphora-input-field>
                        <amphora-input-field [model]="episodeInputFIeldModel"></amphora-input-field>
                    </div>
                    <amphora-text-area [model]="descriptionTextAreaModel"></amphora-text-area>
                    <div class="episode-create-edit__content-episode-data-series">
                        <amphora-options-select [model]="optionSelectModel"></amphora-options-select>
                        <div class="episode-create-edit__content-episode-data-series-list">
                            <div class="episode-create-edit__content-episode-data-series-container" *ngFor="let seriesModel of (seriesModels | async)">
                                <amphora-series-tag [model]="seriesModel"></amphora-series-tag>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="episode-create-edit__content-episode-img-btns">
                    <div class="episode-create-edit__content-episode-img-container">
                        <amphora-upload-image [model]="uploadImageModel"></amphora-upload-image>
                    </div>
                    <div class="spacer-ver-32px"></div>
                    <div class="episode-create-edit__content-episode-btn" *ngFor="let btnModel of buttonModels">
                        <amphora-button [model]="btnModel"></amphora-button>
                    </div>
                </div>
            </div>
            <div class="episode-create-edit__content-audio">
                <amphora-upload-audio [model]="uploadAudioModel"></amphora-upload-audio>
                <amphora-record-audio [model]="recordAudioModel"></amphora-record-audio>
            </div>
            <div class="episode-create-edit__content-audio-clear">
                <div class="episode-create-edit__content-audio-clear-btn">
                    <amphora-button *ngIf="(canClearAudio | async)" [model]="clearAudioButton"></amphora-button>
                </div>
            </div>
        </div>
    </amphora-page>
    <amphora-record-audio-pop-up [model]="recordAudioPopUpModel"></amphora-record-audio-pop-up>
</ion-content>
