@import "src/global";

.episode-create-edit {

    &__content {
        padding: 64px;

        &-audio {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 80px;
        }

        &-episode {
            display: flex;
            justify-content: space-between;
            align-items: start;

            &-btn {
                margin-bottom: 16px;
            }

            &-img {
                width: 400px;
                height: 400px;
                margin-bottom: 32px;

                &-btns {
                    display: inline-block;
                    width: 400px;
                }

                &-container {
                    display: inline-block;
                }
            }

            &-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                max-width: 50%;

                &-series {
                    margin-top: 32px;
                    &-container {
                        display: inline-block;
                        margin: 32px 16px 32px 0;
                    }
                }

                &-numbers {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 16px 0;
                    width: 100%;
                }
            }
        }
    }
}
