<ion-content class="dashboard">
    <amphora-page [headerModel]="">
        <h1 class="dashboard__heading font-section-title">Dashboard</h1>

        <amphora-section [model]="">
            <div class="dashboard__section-profile">
                <amphora-icon [model]=""></amphora-icon>

                <div class="dashboard__section-profile-data">
                    <h2 class=""></h2>
                    <h3 class=""></h3>
                    <amphora-button [model]=""></amphora-button>
                </div>
            </div>
        </amphora-section>

        <amphora-section [model]="">
            <div class="dashboard__section-shows">
                <div class="dashboard__section-shows-heading">
                    <div class="dashboard__section-shows-title-button">
                        <h1 class=""></h1>
                        <amphora-button [model]=""></amphora-button>
                    </div>

                    <amphora-search-field></amphora-search-field>
                </div>

                <div class="dashboard__section-shows-list">
                    <!-- TODO: ngFor preview-card -->
                    <amphora-show-preview-card></amphora-show-preview-card>
                </div>

                <div class="dashboard__section-shows-pagination">
                    <amphora-pagination></amphora-pagination>
                </div>
            </div>
        </amphora-section>
    </amphora-page>
</ion-content>
