<ion-content class="dashboard">
    <amphora-page>
        <h1 class="dashboard__heading font-section-title">Dashboard</h1>

        <amphora-section [model]="profileSectionModel">
            <div class="dashboard__section-profile">
                <amphora-icon [model]="profilePictureModel"></amphora-icon>

                <div class="dashboard__section-profile-data">
                    <h2 class="dashboard__section-profile-data-username font-card-title">{{ (username | async) || '' }}</h2>
                    <h3 class="dashboard__section-profile-data-email font-profile-description">{{ (email | async) || '' }}</h3>
<!--                    <amphora-button [model]="editButtonModel"></amphora-button>-->
                </div>
            </div>
        </amphora-section>

        <amphora-section [model]="listSectionModel">
            <div class="dashboard__section-shows">
                <amphora-notification-pop-up [model]="notificationModel"></amphora-notification-pop-up>
                <div class="dashboard__section-shows-heading">
                    <div class="dashboard__section-shows-title-button">
                        <h1 class="dashboard__section-shows-title font-section-subtitle">My Shows</h1>
                        <amphora-button [model]="newShowButtonModel"></amphora-button>
                    </div>

                    <amphora-search-field [model]="searchFieldModel"></amphora-search-field>
                </div>

                <ng-container *ngIf="!(isLoading | async)">
                    <div class="dashboard__section-shows-empty" *ngIf="(showsEmpty | async)">
                        <h1 class="font-section-title">No shows available yet</h1>
                    </div>
                    <div class="dashboard__section-shows-list" *ngIf="(showPreviewModels | async).length > 0">
                        <div class="dashboard__section-shows-list-item" *ngFor="let model of (showPreviewModels | async)">
                            <amphora-show-preview-card [model]="model"></amphora-show-preview-card>
                        </div>
                    </div>

                    <div class="dashboard__section-shows-pagination">
                        <amphora-pagination [model]="paginationModel"></amphora-pagination>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="(isLoading | async)" class="dashboard__section-shows-loader">
                <amphora-loader></amphora-loader>
            </div>
        </amphora-section>
    </amphora-page>
    <amphora-common-pop-up [model]="checkEmailPopUpModel">
        <p class="font-section-paragraph">
            You should receive a letter with details about the verification of your registration. Follow the
            instructions we sent you and your <strong>am<span class="font-logo-span">pho</span>ra</strong>
            account will be accessible in no time!
            <br/><br/>
            If you did not receive a letter from us for some reason, press one of the buttons below and we
            will send it to you again.
        </p>
    </amphora-common-pop-up>
</ion-content>
