.dashboard {
    &__heading {
        margin: 32px;
    }

    &__section {
        &-profile {
            padding: 24px 0 24px 32px;
            display: flex;
            justify-content: start;
            align-items: center;

            &-data {
                margin-left: 16px;

                &-email {
                    margin-bottom: 16px;
                }

                &-username {
                    margin-bottom: 8px;
                }
            }
        }

        &-shows {
            padding: 64px;
            text-align: center;

            &-title {
                display: inline-block;
                margin-right: 32px;
            }

            &-heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-title-button {

                display: flex;
                align-items: center;
            }

            &-list {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                &-item {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin: 32px 0;
                }
            }

            &-pagination {
                margin-top: 64px;
            }
        }
    }
}
