<ion-content class="sign-in">
    <amphora-page [headerModel]="headerModel">
        <amphora-section [model]="titleSectionModel">
            <div class="sign-in__section sign-in__section-title">
                <h1 class="font-section-title sign-in__section-title-heading">Sign In</h1>
                <h2 class="font-section-paragraph">Log into your account and<br/>
                    continue your podcast journey with <strong>am<span class="font-logo-span">pho</span>ra</strong>!</h2>
            </div>
        </amphora-section>
        <amphora-section [model]="formSectionModel">
            <div class="sign-in__section">
                <div class="sign-in__section-form">
                    <amphora-input-field [model]="emailInputModel"></amphora-input-field>
                    <p class="sign-in__section-form-error font-input-error" *ngIf="!emailInputModel.valid">Please enter a valid email</p>
                    <div class="spacer-ver-32px"></div>
                    <amphora-input-field [model]="passwordInputModel"></amphora-input-field>
                    <p class="sign-in__section-form-error font-input-error" *ngIf="!passwordInputModel.valid">Password is too short</p>
                </div>
            </div>
        </amphora-section>
        <amphora-section [model]="submitSectionModel">
            <div class="sign-in__section sign-in__section-submit">
                <amphora-button [model]="submitButtonModel"></amphora-button>
                <div class="spacer-ver-36px"></div>
                <a class="font-section-paragraph font-link" routerLink="/reset-password">Forgot your password?</a>
            </div>
        </amphora-section>
    </amphora-page>
</ion-content>
