@import "src/global";

.sign-in {
    &__section {
        padding: 48px 0;
        text-align: center;

        &-title {

            &-heading {
                margin-bottom: 8px;
            }
        }

        &-form {
            margin: 0 auto;
            width: 480px;
            text-align: start;

            &-error {
                margin-left: 18px;
                margin-top: 8px;
            }
        }

        &-submit {
        }
    }
}
