<ion-content class="show">
    <amphora-page>
        <div class="show__content">
            <div class="show__content-show-loader" *ngIf="(isLoading | async)">
                <amphora-loader></amphora-loader>
            </div>
            <div class="show__content-show" *ngIf="!(isLoading | async)">
                <div class="show__content-show-data">
                    <h1 class="show__content-show-data-heading font-section-title">{{ (showData | async)?.title || '' }}</h1>
                    <div class="show__content-show-data-streaming">
                        <div class="show__content-show-data-streaming-item" *ngFor="let iconModel of (streamingIconModels | async)">
                            <a [href]="streamingLinks[iconModel.icon]">
                                <amphora-icon [model]="iconModel"></amphora-icon>
                            </a>
                        </div>
                    </div>
                    <p class="show__content-show-data-description font-section-paragraph">
                        {{ (showData | async)?.description || '' }}
                    </p>
                    <div class="show__content-show-data-series">
                        <div class="show__content-show-data-series-container" *ngFor="let seriesModel of (seriesModels | async)">
                            <amphora-series-tag [model]="seriesModel"></amphora-series-tag>
                        </div>
                    </div>
                </div>
                <div class="show__content-show-img-btns">
                    <div class="show__content-show-img-container">
                        <img [src]="(showData | async)?.media_link || '../../../../assets/img/show-img-placeholder.png'" alt="Could not load image" class="show__content-show-img">
                    </div>
                    <div class="show__content-show-btn" *ngFor="let btnModel of (buttonModels | async)">
                        <amphora-button [model]="btnModel"></amphora-button>
                    </div>
                </div>
            </div>
            <div class="show__content-episodes">
                <div class="show__content-episodes-heading">
                    <h1 class="show__content-episodes-title font-section-subtitle">Episodes</h1>

                    <amphora-search-field [model]="searchFieldModel"></amphora-search-field>
                </div>
                <div class="show__content-show-loader" *ngIf="(isLoading | async)">
                    <amphora-loader></amphora-loader>
                </div>
                <ng-container *ngIf="!(areEpisodesLoading | async)">
                    <div class="show__content-episodes-list">
                        <div class="show__content-episodes-list-item" *ngFor="let episodeModel of (episodeCardModels | async)">
                            <amphora-episode-card [model]="episodeModel"></amphora-episode-card>
                        </div>
                    </div>
                    <div class="show__content-episodes-pagination">
                        <amphora-pagination [model]="paginationModel"></amphora-pagination>
                    </div>
                </ng-container>
            </div>
        </div>
    </amphora-page>

    <amphora-confirm-deletion-pop-up [model$]="confirmDeletionPopUpModel$"></amphora-confirm-deletion-pop-up>
    <amphora-clipboard-pop-up></amphora-clipboard-pop-up>
</ion-content>
